* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.6fr;
    grid-template-areas:
        "nav nav nav nav nav"
        "sidebar main main main main "
        "sidebar content1 content2 content3 content4"
        "sidebar footer footer footer footer";
    grid-gap: 2px;
    font-weight: 800;
    text-align: center;
}

nav {
    background: rgb(221, 196, 196);
    grid-area: nav;
}

main {
    background: rgb(97, 163, 163);
    grid-area: main;
}

.sidebar {
    background: rgb(55, 59, 58);
    grid-area: sidebar;
}

.content1 {
    background: rgb(18, 58, 48);
    grid-area: content1;
}

.content2 {
    background: rgb(9, 61, 48);
    grid-area: content2;
}

.content3 {
    background: rgb(8, 75, 58);
    grid-area: content3;
}

.content4 {
    background: rgb(62, 22, 78);
    grid-area: content4;
}

footer {
    background: rgb(39, 40, 78);
    grid-area: footer;
}